{% extends 'main.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>These are the overdued todos</p>
    {% for task in tasks %}
    <form method="post" action="{% url 'toggle_task' task.pk %}">
      {% csrf_token %}
      <input
        type="checkbox"
        onchange="this.form.submit()"
        {%
        if
        task.completed
        %}checked{%
        endif
        %}
      />
      {{ task.title }} - {{ task.priority }} - {{ task.deadline }}
      <a href="{% url 'edit-task' task.pk %}">Edit</a>
      <a href="{% url 'delete-task' task.pk %}">Delete</a>
    </form>
    {% empty %}
    <p>No tasks yet.</p>
    {% endfor %}
    <h2>Completed Tasks</h2>
    {% include 'todo/completed_list.html' with tasks=completed_tasks %}
  </body>
</html>
{% endblock %}
