{% extends 'main.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>These are the overdued todos</p>
    <ul>
      {% for task in tasks %}
      <li>
        {{ task.title }} - {{ task.priority }} {{task.deadline}}
        <a href="{% url 'edit-task' task.pk %}">Edit</a>
        <a href="{% url 'delete-task' task.pk %}">Delete</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
{% endblock %}
